# Common settings that generally should always be used with your language
# specific settings Auto detect text files and perform LF normalization
*          text=auto eol=lf

#
# The above will handle all files NOT found below
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf
